force-app/main/default/flows/Character_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Character_Data_Assignment</name>
        <label>Character Data Assignment</label>
        <locationX>424</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>Character_Object.Charisma__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CharismaValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Character_Object.Constitution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConstitutionValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Character_Object.Dexterity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DexterityValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Character_Object.Intelligence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IntelligenceValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Character_Object.Strenght__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StrengthValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Character_Object.Wisdom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WisdomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Character_Object.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Character_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Character_Object.Race__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Race_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Character_Object.Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Class_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Character_Object.Subrace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subrace_Choice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Character</targetReference>
        </connector>
    </assignments>
    <description>Flow that allows user to create a character</description>
    <dynamicChoiceSets>
        <name>Class_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Class__c</picklistField>
        <picklistObject>Character__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Race_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Race__c</picklistField>
        <picklistObject>Character__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Get_Current_User_Id</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Character Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Character Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Character</name>
        <label>Create_Character</label>
        <locationX>542</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>Character_Object</inputReference>
    </recordCreates>
    <screens>
        <name>Ability_Score_Selection</name>
        <label>Ability Score Selection</label>
        <locationX>308</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Character_Data_Assignment</targetReference>
        </connector>
        <fields>
            <name>Ability_Score_Set</name>
            <extensionName>c:abilityScoreSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ConstitutionValue</assignToReference>
                <name>constitution</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DexterityValue</assignToReference>
                <name>dexterity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>IntelligenceValue</assignToReference>
                <name>intelligence</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StrengthValue</assignToReference>
                <name>strength</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CharismaValue</assignToReference>
                <name>charisma</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WisdomValue</assignToReference>
                <name>wisdom</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Character_Creation</name>
        <label>Character Creation</label>
        <locationX>182</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ability_Score_Selection</targetReference>
        </connector>
        <fields>
            <name>Character_Name</name>
            <dataType>String</dataType>
            <fieldText>Character Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Only letters allowed for character name&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX ( {!Character_Name},&quot;[a-zA-Z ]*&quot; )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Race_And_Subrace</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Character__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Race__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Subrace__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Select a Race</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Select a Subrace</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Race_Choice</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Subrace_Choice</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Select_a_Class</name>
            <choiceReferences>Class_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Class</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success!</label>
        <locationX>667</locationX>
        <locationY>54</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Character_Created</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Congratulations adventurer!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; Your character&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!Character_Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;has been created!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Good luck on your quest!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Character_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Character_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Character__c</objectType>
    </variables>
    <variables>
        <name>CharismaValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ConstitutionValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DexterityValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IntelligenceValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Race_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StrengthValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Subrace_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WisdomValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
